html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-image: linear-gradient(
    135deg,
    white,
    Red,
    Orange,
    Yellow,
    Green,
    Blue
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}
